<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自動販売機</title>
</head>
<body>
    <h2>自動販売機</h2>
    デポジット：{{ deposit }}

    <form action="/charge/" method="POST">
        {% csrf_token %}
        <input type="text" name="charge">
        <input type="hidden" name="deposit" value={{ deposit }}>
        <input type="submit" value="入金">
    </form>

    <table border="1">
        <tr>
            <th>名前</th>
            <th>説明</th>
            <th>価格</th>
            <th></th>
        </tr>
        {% for item in item_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.text }}</td>
                <td>{{ item.cost }}</td>
                <td>商品番号{{ item.id }} 
                <form action="/purchase/" method="POST"><input type="submit" value="買う"></form></td>
            </tr>          
        {% endfor %}
    </table>

    <form action="/change/" method="post">
        {% csrf_token %}
        <input type="submit" name="change" value="おつり">
    </form>

    <h4>買ったものリスト</h4>
    <table border="1">
        <tr>
            <th>商品名</th>
            <th>価格</th>
        </tr>
        <tr>
            <td>{{ itemlist }}</td>
        </tr>
    </table>

    <a href="/">トップに戻る</a>
</body>
</html>